Create a DataFrame with random values.

In [1]:
import pandas as pd
import numpy as np
data = np.random.rand(4, 3)
df = pd.DataFrame(data, columns=['X', 'Y', 'Z'])
print(df)

          X         Y         Z
0  0.144903  0.926589  0.234760
1  0.515912  0.509388  0.611735
2  0.350673  0.138602  0.814616
3  0.983335  0.492114  0.000114

Calculate the rank of values in a DataFrame.

In [2]:
import pandas as pd
data = {'X': [3, 1, 4, 1], 'Y': [2, 3, 1, 4]}
df = pd.DataFrame(data)
df['Rank'] = df['X'].rank()
print(df)

   X  Y  Rank
0  3  2   3.0
1  1  3   1.5
2  4  1   4.0
3  1  4   1.5

Change the data type of a column.

In [3]:
import pandas as pd
data = {'X': ['1', '2', '3']}
df = pd.DataFrame(data)
df['X'] = df['X'].astype(int)
print(df)

   X
0  1
1  2
2  3

Filter rows based on string matching.

In [4]:
import pandas as pd
data = {'X': ['foo', 'bar', 'baz', 'qux']}
df = pd.DataFrame(data)
filtered_df = df[df['X'].str.contains('ba')]
print(filtered_df)

     X
1  bar
2  baz

Create a DataFrame with specified row and column labels.

In [5]:
import pandas as pd
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'], columns=['col1', 'col2', 'col3'])
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

Transpose a DataFrame.

In [6]:
import pandas as pd
data = {'X': [1, 2, 3], 'Y': [4, 5, 6]}
df = pd.DataFrame(data)
transposed_df = df.T
print(transposed_df)

   0  1  2
X  1  2  3
Y  4  5  6

Set a column as the index of a DataFrame.

In [7]:
import pandas as pd
data = {'X': [1, 2, 3], 'Y': [4, 5, 6]}
df = pd.DataFrame(data)
df.set_index('X', inplace=True)
print(df)

   Y
X
1  4
2  5
3  6

Reset the index of a DataFrame.

In [8]:
import pandas as pd
data = {'X': [1, 2, 3], 'Y': [4, 5, 6]}
df = pd.DataFrame(data)
df.set_index('X', inplace=True)
df.reset_index(inplace=True)
print(df)

   X  Y
0  1  4
1  2  5
2  3  6

Add a prefix or suffix to column names.

In [9]:
import pandas as pd
data = {'X': [1, 2, 3], 'Y': [4, 5, 6]}
df = pd.DataFrame(data)
df = df.add_prefix('col_')
print(df)

   col_X  col_Y
0      1      4
1      2      5
2      3      6

Filter rows based on datetime index.

In [10]:
import pandas as pd
date_range = pd.date_range(start='1/1/2020', periods=5, freq='D')
data = {'X': [1, 2, 3, 4, 5]}
df = pd.DataFrame(data, index=date_range)
filtered_df = df['2020-01-03':'2020-01-05']
print(filtered_df)

            X
2020-01-03  3
2020-01-04  4
2020-01-05  5