Create a DataFrame from a list of dictionaries.

In [ ]:
import pandas as pd
data = [{'X': 1, 'Y': 2}, {'X': 3, 'Y': 4}]
df = pd.DataFrame(data)
print(df)

   X  Y
0  1  2
1  3  4

Rename columns in a DataFrame.

In [ ]:
import pandas as pd
data = {'X': [1, 2, 3], 'Y': [4, 5, 6]}
df = pd.DataFrame(data)
df.rename(columns={'X': 'X', 'Y': 'Y'}, inplace=True)
print(df)

   X  Y
0  1  4
1  2  5
2  3  6

Filter rows by multiple conditions.

In [ ]:
import pandas as pd
data = {'X': [1, 2, 3, 4], 'Y': [4, 5, 6, 7]}
df = pd.DataFrame(data)
filtered_df = df[(df['X'] > 2) & (df['Y'] < 7)]
print(filtered_df)

   X  Y
2  3  6

Calculate the cumulative sum of a column.

In [ ]:
import pandas as pd
data = {'X': [1, 2, 3, 4]}
df = pd.DataFrame(data)
df['Cumulative_Sum'] = df['X'].cumsum()
print(df)

   X  Cumulative_Sum
0  1               1
1  2               3
2  3               6
3  4              10

Drop rows with missing values.

In [ ]:
import pandas as pd
data = {'X': [1, 2, None, 4], 'Y': [4, 5, 6, None]}
df = pd.DataFrame(data)
df = df.dropna()
print(df)

     X    Y
0  1.0  4.0
1  2.0  5.0

Replace values in a DataFrame based on a condition.

In [ ]:
import pandas as pd
data = {'X': [1, 2, 3, 4], 'Y': [5, 6, 7, 8]}
df = pd.DataFrame(data)
df.loc[df['X'] > 2, 'Y'] = 0
print(df)

   X  Y
0  1  5
1  2  6
2  3  0
3  4  0

Create a DataFrame with a MultiIndex.

In [ ]:
import pandas as pd
arrays = [['X', 'X', 'Y', 'Y'], [1, 2, 1, 2]]
index = pd.MultiIndex.from_arrays(arrays, names=('Group', 'Number'))
data = {'Value': [10, 20, 30, 40]}
df = pd.DataFrame(data, index=index)
print(df)

              Value
Group Number
X     1          10
      2          20
Y     1          30
      2          40

Calculate the rolling mean of a column.

In [ ]:
import pandas as pd
data = {'X': [1, 2, 3, 4, 5, 6]}
df = pd.DataFrame(data)
df['Rolling_Mean'] = df['X'].rolling(window=3).mean()
print(df)

   X  Rolling_Mean
0  1           NaN
1  2           NaN
2  3           2.0
3  4           3.0
4  5           4.0
5  6           5.0

Create a DataFrame from a list of tuples.

In [ ]:
import pandas as pd
data = [(1, 2), (3, 4), (5, 6)]
df = pd.DataFrame(data, columns=['X', 'Y'])
print(df)

   X  Y
0  1  2
1  3  4
2  5  6

Add a row to a DataFrame.

In [ ]:
import pandas as pd  # Import the Pandas library
# Create a sample DataFrame
data = {'X': [1, 2], 'Y': [3, 4]}
df = pd.DataFrame(data)

# Create a new row as a DataFrame
new_row = pd.DataFrame({'X': [5], 'Y': [6]})
# Concatenate the new row to the DataFrame
df = pd.concat([df, new_row], ignore_index=True)
print(df)

   X  Y
0  1  3
1  2  4
2  5  6