Create a DataFrame with specific column names.

In [1]:
import pandas as pd
data = {'col1': [1, 2, 3], 'col2': [4, 5, 6]}
df = pd.DataFrame(data)
print(df)

   col1  col2
0     1     4
1     2     5
2     3     6

Calculate the sum of values in each column.

In [2]:
import pandas as pd
data = {'X': [1, 2, 3], 'Y': [4, 5, 6]}
df = pd.DataFrame(data)
print(df.sum())

X     6
Y    15
dtype: int64

Calculate the mean of values in each row.

In [3]:
import pandas as pd
data = {'X': [1, 2, 3], 'Y': [4, 5, 6]}
df = pd.DataFrame(data)
print(df.mean(axis=1))

0    2.5
1    3.5
2    4.5
dtype: float64

Concatenate two DataFrames.

In [4]:
import pandas as pd
data1 = {'X': [1, 2, 3]}
data2 = {'Y': [4, 5, 6]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
concatenated_df = pd.concat([df1, df2], axis=1)
print(concatenated_df)

   X  Y
0  1  4
1  2  5
2  3  6

Merge two DataFrames on a key.

In [5]:
import pandas as pd
data1 = {'key': ['X', 'Y', 'Z'], 'value1': [1, 2, 3]}
data2 = {'key': ['X', 'Y', 'D'], 'value2': [4, 5, 6]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
merged_df = pd.merge(df1, df2, on='key')
print(merged_df)

  key  value1  value2
0   X       1       4
1   Y       2       5

Create a pivot table from a DataFrame.

In [6]:
import pandas as pd
data = {'X': ['foo', 'foo', 'bar', 'bar'], 'Y': ['one', 'two', 'one', 'two'], 'Z': [1, 2, 3, 4]}
df = pd.DataFrame(data)
pivot_table = df.pivot_table(values='Z', index='X', columns='Y')
print(pivot_table)

Y    one  two
X
bar  3.0  4.0
foo  1.0  2.0

Reshape a DataFrame from long to wide format.

In [7]:
import pandas as pd
data = {'X': ['foo', 'foo', 'bar', 'bar'], 'Y': ['one', 'two', 'one', 'two'], 'Z': [1, 2, 3, 4]}
df = pd.DataFrame(data)
wide_df = df.pivot(index='X', columns='Y', values='Z')
print(wide_df)

Y    one  two
X
bar    3    4
foo    1    2

Calculate the correlation between columns in a DataFrame.

In [8]:
import pandas as pd
data = {'X': [1, 2, 3, 4], 'Y': [4, 3, 2, 1]}
df = pd.DataFrame(data)
correlation = df.corr()
print(correlation)

     X    Y
X  1.0 -1.0
Y -1.0  1.0

Iterate over rows in a DataFrame using iterrows().

In [9]:
import pandas as pd
data = {'X': [1, 2, 3], 'Y': [4, 5, 6]}
df = pd.DataFrame(data)
for index, row in df.iterrows():
    print(index, row['X'], row['Y'])

0 1 4
1 2 5
2 3 6

Apply a function to each element in a DataFrame.

In [10]:
import pandas as pd  # Import the Pandas library
# Create a sample DataFrame
data = {'X': [1, 2, 3], 'Y': [4, 5, 6]}
df = pd.DataFrame(data)
# Apply a function to each element using the map method
df = df.apply(lambda col: col.map(lambda x: x * 2))
print(df)

   X   Y
0  2   8
1  4  10
2  6  12